/* -------------------------------- Reset -------------------------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    /* Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* Create a root stacking context */
#root, #__next {
isolation: isolate;
}

/* -------------------------------- Code --------------------------------- */

:root{
    --white-green:#f4f9f2;
    --light-green:#bde5ba;
    --hard-green:#3a7b2e;
    font-family: "Nunito", serif;
}

header{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
}
nav{
    width: 15%;
    display:flex;
    gap:3px;
    justify-content: center;
}
button{
    color: white;
    width: 33%;
    font-size: 14pt;
    font-weight: 600;
    border: none;
    background-color: rgba(0,0,0,0.3);

    &:hover{
        background-color: rgba(0,0,0,0.5);
        font-weight: 800;
    }

}


body{
    --fade-color:rgba(0, 0, 0, 0.5);

    &:has(.home-container){
        background: 
            linear-gradient(var(--fade-color),var(--fade-color)),
            url("./pages/images/night_entry.jpg");
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
    }

    &:has(.menu-container){
        background: 
            url("./pages/images/inside_photo.jpg");
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
    }

    &:has(.about-container){
        background: 
            url("./pages/images/double_window_tree.jpg");
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
    }



    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

#content{
    flex: 1 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.js-tab{
    align-self: center;
}

.home-container{
    color: #fafbee;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;

    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: end;

    line-height: 0.8;

    .greet{
        font-family:"Mrs Saint Delafield", cursive;
        font-size: 150pt;
    }
    
    .name{
        font-family: "Mea Culpa", cursive;
        font-size: 370pt;
        padding: 0 150pt;
    }
}

.menu-container{

    padding: 20px;
    background-color:var(--white-green);

    .menu-border{
        padding: 30px;
        border: double 5px var(--hard-green);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .menu-item{
        width: 1000px;
        display: flex;
        align-items:center;

        &:nth-of-type(even){
            flex-direction:row;

            .handle{
                align-items:end;
            }
        }

        &:nth-of-type(odd){
            flex-direction:row-reverse;

            .handle{
                align-items: start;
            }
        }



    }

    .handle{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 25px 15px;
    }

    .title{
        font-family:"Mrs Saint Delafield", cursive;
        font-size: 32pt;
        line-height: 0;
        padding-top: 0.7em;
        padding-bottom: 0.2em;
        border-bottom: 3px solid var(--light-green);
        width: fit-content;
    }

    .description{
        font-family: "Cormorant Garamond", serif;
        font-size: 14pt;
        font-weight: 500;
    }

    img{
        height: 200px;
        aspect-ratio: 1;
    }

    hr{
        border-top: 1px solid var(--hard-green);
    }
}

.about-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 9fr 17fr 9fr; /*To match with the window background properly*/
    grid-template-areas:
        "lwing . rwing"
        "bbar bbar bbar";

    .lwing,
    .rwing{
        background: rgba(255,255,255,0.7);
        padding: 50px;
    }


    .lwing{
        font-size: 20pt;
        grid-area: lwing;

        display: grid;
        grid-template-rows: repeat(8,1fr);
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;

        :first-child{
            font-size: 28pt;
            font-weight: 600;
        }

        :nth-child(9) {
            grid-row: 2;
        }

        align-items: center;
        border-radius: 0 0 20px 0;
    }

    .rwing{
        font-size: 28pt;
        grid-area: rwing;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        border-radius: 0 0 0 20px;
    }

    .bbar{
        background: rgba(160,160,160, 0.6);
        grid-area: bbar;
        align-self: end;

        display:flex;
        justify-content:center;
    }
}


